# Data ingestion

In [1]:
!pip freeze

alembic==0.8.10
apache-airflow==1.9.0
avro==1.8.2
backports-abc==0.5
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
beautifulsoup4==4.6.0
bleach==1.5.0
brewer2mpl==1.4.1
bs4==0.0.1
cachetools==2.0.1
certifi==2017.11.5
chardet==3.0.4
click==6.7
configparser==3.5.0
crcmod==1.7
croniter==0.3.20
cycler==0.10.0
datalab==1.1.0
decorator==4.1.2
dill==0.2.6
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
Flask==0.11.1
Flask-Admin==1.4.1
Flask-Cache==0.13.1
Flask-Login==0.2.11
flask-swagger==0.2.13
Flask-WTF==0.14
funcsigs==1.0.0
functools32==3.2.3.post2
future==0.16.0
futures==3.0.5
gapic-google-cloud-datastore-v1==0.15.3
gapic-google-cloud-error-reporting-v1beta1==0.15.3
gapic-google-cloud-logging-v2==0.91.3
geojson==2.3.0
ggplot==0.6.8
gitdb2==2.0.3
GitPython==2.1.8
gmaps==0.7.0
google-api-core==0.1.3
google-api-python-client==1.6.2
google-apitools==0.5.10
google-auth==1.3.0
google-auth-httplib2==0.0.2
google-auth-oauthlib==0.2.0
google-cloud==0.30.0
google-cloud-bigquery==0.28.0
google-cloud-bigtable==0.28.1
google-cloud-core==0.28.0
google-cloud-dataflow==2.0.0
google-cloud-datastore==1.4.0
google-cloud-dns==0.28.0
google-cloud-error-reporting==0.28.0
google-cloud-firestore==0.28.0
google-cloud-language==1.0.0
google-cloud-logging==1.4.0
google-cloud-monitoring==0.28.0
google-cloud-pubsub==0.29.4
google-cloud-resource-manager==0.28.0
google-cloud-runtimeconfig==0.28.0
google-cloud-spanner==0.29.0
google-cloud-speech==0.30.0
google-cloud-storage==1.6.0
google-cloud-trace==0.16.0
google-cloud-translate==1.3.0
google-cloud-videointelligence==0.28.0
google-cloud-vision==0.28.0
google-gax==0.15.16
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
googledatastore==7.0.1
grpc-google-iam-v1==0.11.4
grpcio==1.8.3
gunicorn==19.7.1
html5lib==0.9999999
httplib2==0.10.3
idna==2.6
ipykernel==4.5.2
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.6.0
jupyter-client==5.2.1
jupyter-core==4.4.0
lime==0.1.1.23
lockfile==0.12.2
lxml==3.8.0
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==1.5.3
mistune==0.8.3
mltoolbox-datalab-classification-and-regression==1.0.1
mltoolbox-datalab-image-classification==0.2
mock==2.0.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.0
nltk==3.2.1
notebook==4.2.3
numpy==1.14.0
oauth2client==2.2.0
oauthlib==2.0.6
ordereddict==1.1
pandas==0.22.0
pandas-gbq==0.3.0
pandas-profiling==1.5.0
pandocfilters==1.4.2
pathlib2==2.3.0
patsy==0.4.1
pbr==3.1.1
pexpect==4.3.1
pickleshare==0.7.4
Pillow==3.4.1
plotly==1.12.5
ply==3.8
prompt-toolkit==1.0.15
proto-google-cloud-datastore-v1==0.90.4
proto-google-cloud-error-reporting-v1beta1==0.15.3
proto-google-cloud-logging-v2==0.91.3
protobuf==3.5.1
psutil==4.3.0
ptyprocess==0.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
Pygments==2.1.3
pyparsing==2.2.0
python-daemon==2.1.2
python-dateutil==2.5.0
python-editor==1.0.3
python-nvd3==0.14.2
python-slugify==1.1.4
python-snappy==0.5.1
pytz==2016.7
PyWavelets==0.5.2
PyYAML==3.11
pyzmq==16.0.2
requests==2.9.1
requests-oauthlib==0.8.0
rsa==3.4.2
scandir==1.6
scikit-image==0.13.0
scikit-learn==0.18.2
scipy==0.18.0
seaborn==0.7.0
setproctitle==1.1.10
simplegeneric==0.8.1
simplejson==3.13.2
singledispatch==3.4.0.3
six==1.10.0
smmap2==2.0.3
SQLAlchemy==1.2.0
statsmodels==0.6.1
subprocess32==3.2.7
sympy==0.7.6.1
tabulate==0.7.7
tensorflow==1.4.1
tensorflow-tensorboard==0.4.0rc3
terminado==0.8.1
testpath==0.3.1
thrift==0.10.0
tornado==4.4.2
traitlets==4.3.2
Unidecode==1.0.22
uritemplate==3.0.0
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==2.0.1
WTForms==2.1
xgboost==0.6a2
zope.deprecation==4.3.0

In [2]:
from datalab import bigquery as bq
from datalab import storage

In [3]:
table = bq.Table('taxi_demo.taxi_data') # you must first go to bigquery, create project, make a query and save the results as a table under the project
gcs_temp_bucket = 'david-taxi-demo'
gcs_temp_dir = 'taxi-data/'
gcs_temp_uri = 'gs://{}/{}'.format(gcs_temp_bucket, gcs_temp_dir)

# Extract Bigquery data
if not list(storage.Bucket(gcs_temp_bucket).items(prefix=gcs_temp_dir)):
  table.extract(destination = gcs_temp_uri + '*.csv.gz', compress=True)

In [4]:
# Load Data into Spark

df =spark.read.format('csv') \
              .options(header='true') \
              .options(inferSchema='true') \
              .load(gcs_temp_uri)
df.printSchema()
# df.takePandas()

root
 |-- pickup_datetime: string (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- pickup_longitude: double (nullable = true)

# Data Prep

In [5]:
from pyspark.sql.functions import unix_timestamp

typed_df = df.select(
  unix_timestamp(df.pickup_datetime).cast('timestamp').alias('pickup_timestamp'),
  'pickup_latitude',
  'pickup_longitude') \
  .drop('pickup_datetime').drop('dropoff_datetime') \
  .cache()

typed_df.printSchema()
typed_df.toPandas()

root
 |-- pickup_timestamp: timestamp (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- pickup_longitude: double (nullable = true)

         pickup_timestamp  pickup_latitude  pickup_longitude
0     2010-03-11 15:15:00        40.758160        -73.937427
1     2010-02-17 02:58:08        40.714128        -74.011567
2     2010-03-19 04:38:43        40.726548        -73.989161
3     2013-08-27 22:28:14        40.757815        -73.969634
4     2010-03-15 22:27:30        40.754440        -73.989572
5     2009-01-17 10:58:42        40.752675        -73.950507
6     2009-01-25 19:19:15        40.811989        -73.929824
7     2009-01-18 15:41:53        40.732855        -74.000064
8     2010-08-01 10:03:00        40.758392        -73.937222
9     2009-09-22 06:45:21        40.703524        -74.009184
10    2009-01-30 06:31:09        40.745829        -73.984309
11    2009-01-24 12:01:42        40.767490        -73.963448
12    2009-05-07 13:53:00        40.759387        -73.966007
13    2009-05-11 12:00:03        40.755222        -73.998737
14    2009-07-17 13:52:50        40.758487        -73.982439
15    2009-01-15 15:13:18        40.762792        -73.973170
16    2009-03-24 09:51:56        40.783277        -73.981918
17    2009-02-19 08:13:00        40.745387        -74.001950
18    2009-10-01 09:51:23        40.754038        -73.975285
19    2009-01-26 13:42:07        40.760963        -73.970599
20    2009-10-14 09:37:46        40.754379        -73.973509
21    2009-09-12 17:10:00        40.792305        -73.964295
22    2009-07-05 16:17:00        40.749955        -73.978250
23    2009-06-04 09:06:00        40.749357        -73.971547
24    2009-10-28 13:44:00        40.639460        -73.786138
25    2009-02-18 15:07:00        40.740333        -73.996378
26    2009-02-23 13:06:00        40.758122        -73.937527
27    2009-10-03 06:53:00        40.723585        -73.982253
28    2009-01-06 07:14:00        40.759173        -73.977500
29    2009-06-26 08:16:00        40.774395        -73.963903
...                   ...              ...               ...
99970 2013-12-24 13:29:59        40.777228        -73.950096
99971 2013-04-03 08:52:23        40.755277        -73.965058
99972 2014-09-07 08:20:11        40.768492        -73.984549
99973 2013-10-02 10:17:18        40.731341        -73.982523
99974 2014-03-12 13:18:57        40.795442        -73.973114
99975 2014-11-21 06:38:53        40.756190        -73.994158
99976 2012-10-07 18:32:27        40.753078        -73.969901
99977 2014-01-16 08:52:37        40.766380        -73.968422
99978 2012-12-22 13:39:13        40.756864        -73.969562
99979 2014-04-20 15:37:46        40.763850        -73.970775
99980 2014-11-25 12:13:34        40.762684        -73.973560
99981 2014-02-15 08:27:55        40.756591        -73.997605
99982 2013-08-05 06:40:29        40.703238        -74.012663
99983 2014-05-05 14:55:54        40.749070        -73.980070
99984 2013-04-20 15:22:58        40.677342        -73.922028
99985 2014-11-16 18:36:22        40.734788        -73.979225
99986 2014-05-04 17:00:46        40.782250        -73.980189
99987 2014-07-09 09:12:57        40.757831        -73.971211
99988 2014-01-09 09:24:10        40.761523        -73.994772
99989 2014-03-09 19:56:41        40.763908        -73.982318
99990 2013-10-02 11:36:28        40.758114        -73.972568
99991 2012-10-25 14:30:01        40.751147        -73.986739
99992 2014-08-29 09:14:30        40.750048        -73.991459
99993 2014-08-22 06:55:03        40.757391        -73.993128
99994 2014-05-25 14:03:15        40.726075        -74.000675
99995 2014-09-21 12:14:39        40.744588        -73.976192
99996 2014-12-10 15:04:43        40.767550        -73.968993
99997 2013-06-02 07:52:01        40.762060        -73.978741
99998 2014-01-22 11:21:57        40.763949        -73.973281
99999 2014-12-05 10:53:48        40.724401        -73.987145

[100000 rows x 3 columns]

In [6]:
%%sql
SELECT COUNT(*) FROM [taxi_demo.taxi_data]
-- Demo you can write bigquery in datalab

QueryResultsTable job_-xMaiY-632BqJ2qHeyG3Rc4NsOEN

In [7]:
typed_df.registerTempTable('taxi')
spark.sql("""
SELECT COUNT(*) from taxi
""").toPandas()

   count(1)
0    100000

In [8]:
from pyspark.sql.functions import log

bucket_df = spark.sql("""
SELECT
    *,
    HOUR(pickup_timestamp) AS pickup_hour,
    INT(DATE_FORMAT(pickup_timestamp, 'u')) AS day_of_week,
    ROUND(pickup_latitude, 3) AS lat,
    ROUND(pickup_longitude, 3) AS long
FROM taxi
""").cache()

traffic_df = bucket_df.groupby('pickup_hour', 'day_of_week', 'lat', 'long').count()
traffic_df = traffic_df.withColumn('log_pickups', log(traffic_df['count']))
traffic_df.printSchema()
traffic_df.cache().describe().toPandas()

root
 |-- pickup_hour: integer (nullable = true)
 |-- day_of_week: integer (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- count: long (nullable = false)
 |-- log_pickups: double (nullable = true)

,summary,pickup_hour,day_of_week,lat,long,count,log_pickups
0,count,79297,79297,79297,79297,79297,79297
1,mean,13.333530902808429,4.040682497446309,40.7540173020417,-73.9778562997339,1.261081755930237,0.15824733647830488
2,stddev,6.467981196182328,1.9810529272219044,0.024577583490654625,0.024048449637703487,0.6465106293271085,0.34008987731541973
3,min,0,1,40.333,-74.313,1,0.0
4,max,23,7,41.066,-73.518,20,2.995732273553991

# Spark MLLib API

### Transformers
### Estimators
### Model
### Pipelines

In [9]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.feature import HashingTF, Tokenizer
from pyspark.sql import Row

# Create toy training data
training = spark.createDataFrame(
  [
    (0, "a b c d e spark", 1.0),
    (1, "b d", 0.0),
    (2, "spark f g h", 1.0),
    (3, "hadoop mapreduce", 0.0)],
  ["id", "text", "label"])

# Configure an ML pipeline, with 3 stages: tokenizer, hashingTF, and logisticRegression

tokenizer = Tokenizer(inputCol="text", outputCol="words")
hashingTF = HashingTF(inputCol=tokenizer.getOutputCol(), outputCol="features")
lr = LogisticRegression(maxIter=10, regParam=0.01)

pipeline = Pipeline(stages=[tokenizer, hashingTF, lr])


# Train the model
model = pipeline.fit(training)

# Create toy test data
test = spark.createDataFrame(
  [
    (4, "spark, u j k"),
    (5, "l m n"),
    (6, "mapreduce spark"),
    (7, "apache hadop")
  ],
  ["id", "text"])

prediction = model.transform(test)
print('prediction: {}'.format(prediction))

prediction: DataFrame[id: bigint, text: string, words: array<string>, features: vector, rawPrediction: vector, probability: vector, prediction: double]

# Random Forest Regression

In [10]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import RandomForestRegressor

label_column = 'log_pickups'
feature_column = 'features'

# Split data into train, validation and test set
training, validation, test = traffic_df.randomSplit([.33, .33, .33])

# Assemble features into a vector column
assembler = VectorAssembler(
  inputCols=['pickup_hour', 'day_of_week', 'lat', 'long'],
  outputCol=feature_column
)

# Instantiate a Random Forest Regressor
rf = RandomForestRegressor(
  featuresCol=assembler.getOutputCol(),
  labelCol=label_column
)

# Build a pipeline
pipeline = Pipeline(stages=[assembler, rf])

# Run the pipeline
model = pipeline.fit(training)
predictions = model.transform(validation)

In [11]:
predictions.select('prediction', label_column, feature_column) \
           .sample(False, 0.1) \
           .toPandas()

      prediction  log_pickups                      features
0       0.116203     0.000000    [0.0, 3.0, 40.758, -73.99]
1       0.145062     0.000000    [14.0, 5.0, 40.72, -73.99]
2       0.193374     0.000000  [15.0, 5.0, 40.775, -73.967]
3       0.189222     0.000000    [15.0, 7.0, 40.78, -73.96]
4       0.193433     1.609438   [18.0, 3.0, 40.734, -73.99]
5       0.052273     0.000000   [21.0, 7.0, 40.714, -73.96]
6       0.174991     0.000000  [22.0, 2.0, 40.738, -74.002]
7       0.195866     0.000000  [22.0, 3.0, 40.759, -73.966]
8       0.084353     0.000000   [3.0, 7.0, 40.715, -73.992]
9       0.150730     0.000000   [5.0, 7.0, 40.747, -73.988]
10      0.043529     0.000000    [8.0, 4.0, 40.796, -73.95]
11      0.154316     1.098612  [15.0, 6.0, 40.728, -73.982]
12      0.191518     0.000000  [16.0, 1.0, 40.733, -73.987]
13      0.198600     0.000000  [20.0, 4.0, 40.735, -73.994]
14      0.195866     0.000000  [20.0, 4.0, 40.751, -73.976]
15      0.195866     0.000000   [21.0, 4.0, 40.75, -73.979]
16      0.198780     0.000000  [22.0, 2.0, 40.774, -73.961]
17      0.194207     0.000000   [6.0, 2.0, 40.752, -73.979]
18      0.194207     0.000000  [10.0, 2.0, 40.762, -73.982]
19      0.198798     0.000000  [11.0, 6.0, 40.745, -73.991]
20      0.060191     0.000000  [12.0, 4.0, 40.721, -73.844]
21      0.134652     0.000000  [13.0, 3.0, 40.795, -73.973]
22      0.193374     0.693147  [13.0, 6.0, 40.745, -73.979]
23      0.050472     0.000000  [18.0, 6.0, 40.718, -74.006]
24      0.195866     0.000000  [21.0, 5.0, 40.779, -73.963]
25      0.174106     0.000000    [1.0, 7.0, 40.73, -73.986]
26      0.081237     0.000000   [5.0, 7.0, 40.804, -73.952]
27      0.193374     0.000000   [6.0, 4.0, 40.739, -73.987]
28      0.193374     0.000000   [6.0, 5.0, 40.737, -73.978]
29      0.173579     0.693147   [7.0, 3.0, 40.751, -73.998]
...          ...          ...                           ...
2577    0.190246     0.000000  [17.0, 7.0, 40.765, -73.964]
2578    0.137980     0.000000   [20.0, 6.0, 40.785, -73.97]
2579    0.197281     0.000000    [22.0, 4.0, 40.74, -73.99]
2580    0.149890     0.000000   [1.0, 6.0, 40.721, -73.959]
2581    0.121498     0.000000   [3.0, 5.0, 40.748, -73.985]
2582    0.091120     0.693147    [5.0, 4.0, 40.76, -73.986]
2583    0.193374     0.000000   [8.0, 3.0, 40.773, -73.965]
2584    0.189222     0.693147   [8.0, 7.0, 40.772, -73.953]
2585    0.032439     0.000000  [11.0, 3.0, 40.712, -74.008]
2586    0.193374     1.098612  [11.0, 6.0, 40.768, -73.982]
2587    0.158608     0.000000    [12.0, 3.0, 40.748, -74.0]
2588    0.193374     0.000000  [13.0, 4.0, 40.772, -73.966]
2589    0.200655     0.000000  [17.0, 1.0, 40.771, -73.991]
2590    0.198780     0.693147  [19.0, 2.0, 40.743, -73.977]
2591    0.195866     0.000000  [19.0, 3.0, 40.741, -73.987]
2592    0.195866     0.000000  [19.0, 4.0, 40.755, -73.968]
2593    0.198780     0.693147  [20.0, 2.0, 40.771, -73.955]
2594    0.150023     0.000000  [20.0, 5.0, 40.739, -74.008]
2595    0.197281     0.693147   [22.0, 4.0, 40.757, -73.99]
2596    0.096165     0.000000   [3.0, 3.0, 40.732, -73.984]
2597    0.093825     0.000000    [4.0, 2.0, 40.769, -73.99]
2598    0.080569     0.000000   [4.0, 3.0, 40.778, -73.952]
2599    0.193374     1.098612   [6.0, 4.0, 40.777, -73.955]
2600    0.193374     0.000000  [10.0, 3.0, 40.768, -73.958]
2601    0.193374     0.000000  [11.0, 3.0, 40.753, -73.986]
2602    0.194790     0.000000  [12.0, 4.0, 40.776, -73.989]
2603    0.126701     0.000000  [14.0, 2.0, 40.775, -73.945]
2604    0.176493     0.000000  [18.0, 6.0, 40.751, -73.998]
2605    0.176268     0.000000  [19.0, 2.0, 40.734, -74.002]
2606    0.195866     0.000000   [20.0, 5.0, 40.766, -73.97]

[2607 rows x 3 columns]

# Evaluate model

In [12]:
from pyspark.ml.evaluation import RegressionEvaluator

r2_evaluator = RegressionEvaluator(
  labelCol=label_column, predictionCol='prediction', metricName='r2'
)

rmse_evaluator = RegressionEvaluator(
  labelCol=label_column, predictionCol='prediction', metricName='rmse'
)

print('r2: {}'.format(r2_evaluator.evaluate(predictions)))
print('r2: {}'.format(rmse_evaluator.evaluate(predictions)))

r2: 0.0294582456608
r2: 0.333937518821

# Visualise our predictions

In [13]:
!bash -c 'pip install gmaps -r <(pip freeze)' > /dev/null
!jupyter nbextension enable --py --sys-prefix gmaps

Double requirement given: gmaps==0.7.0 (from -r /dev/fd/63 (line 43)) (already in gmaps, name='gmaps')
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK

In [16]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

def repeat(df, col='predicted_pickups', tmp_col='_list_col'):
  col_range = udf(lambda n: range(n), ArrayType(IntegerType(), False))
  tmp_df = df.withColumn(tmp_col, col_range(df[col].cast('int')))
  return tmp_df.withColumn('count', explode(tmp_col))

def fuzz(col, precision=3):
  return col + (rand() / (10 ** precision))

def simulate(day, hour, sample_rate=.01):
  tmp_df = predictions.filter(
    (predictions.day_of_week == day) & (predictions.pickup_hour == hour)) \
    .withColumn('predicted_pickups', exp(predictions.prediction))
    
  simulated_df = repeat(tmp_df).sample(False, sample_rate).select('lat', 'long')
  return simulated_df.select(
    fuzz(simulated_df.lat).alias('lat'),
    fuzz(simulated_df.long).alias('long')
  )

actual_validation = bucket_df.sample(False, 0.333).cache()

def get_actual(day, hour, sample_rate=.01):
  return actual_validation.filter(
    (actual_validation.day_of_week == day) & (actual_validation.pickup_hour == hour)
  ).sample(False, sample_rate) \
  .select(
    actual_validation.pickup_latitude.alias('lat'),
    actual_validation.pickup_longitude.alias('long')
  )

### Predicted Thursday afternoon rush hour pickups

In [ ]:
import gmaps 

gmaps.configure(api_key="AIzaSyDwk3ohLTspbB6X53zmsUvzUbROHeR8c9U")

m = gmaps.Map()
predicted = simulate(day=4, hour=17).toPandas()
m.addLayer(gmaps.heatmap_layer(predicted))
m

### Actual Thursday afternoon rush hour pickups

In [ ]:
import gmaps 

m = gmaps.Map()
actual = get_actual(day=4, hour=17).toPandas()
m.addLayer(gmaps.heatmap_layer(actual))
m

# Iteration 2: Random Forest with parameter tuning

In [ ]:
# The parameters which we can tune in a random forest model:
import pprint
pprint.pprint({k.name: v for k,v in rf.extractParamMap().items()})

In [ ]:
from pyspark.ml.tuning import ParamGridBuilder, TrainValidationSplit

tvTraining = training.sample(False, 0.01)

# Build param grid
paramGrid = ParamGridBuilder().addGrid(rf.maxDepth, [5, 15]) \
                              .addGrid(rf.numTrees, [5, 20]) \
                              .build()
    
# Run automate train validation split over grid
tvSplit = TrainValidationSplit(
  estimator=pipeline,
  estimatorParamMaps=paramGrid,
  evaluator=r2_evaluator
)

# Select the best model
model = tvSplit.fit(tvTraining).bestModel
predictions = model.transform(validation)

print('r2: {}'.format(r2_evaluator.evaluate(predictions)))
print('rmse: {}'.format(rmse_evaluator.evaluate(predictions)))

# Save model

In [ ]:
model.save('gs://{}/model/'.format(gcs_temp_bucket))
test.write.save('gs://{}/test-data/'.format(gcs_temp_bucket))

# Load model

In [ ]:
from pyspark.ml import PipelineModel

model = PipelineModel.load('gs://{}/model/'.format(gcs_temp_bucket))
data = spark.read.load('gs://{}/test-data/'.format(gcs_temp_bucket))

In [ ]:
predictions = model.transform(data)
predictions.toPandas()

print('r2: {}'.format())